{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ include('product_controller_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_controller_crud_index') }}">back to list</a>

    {{ include('product_controller_crud/_delete_form.html.twig') }}
{% endblock %}
